{% extends "base.html" %}
{% block main %}
<div id="content">
	<div class="container main">
		<div class="row">
			<div class="col-6 offset-md-3" id="loginForm">
				<form action="/login" method="post">
					<label for="username">Username:</label>
					<input name="username" type="text">
					<br>
					<label for="password">Password:</label>
					<input name="password" type="password">
					<br>
					<input type="submit" value="Login">
				</form>
				<a href="/register">Not registered? register here!</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}