{% extends "base.html" %}
{% block main %}
<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-6 offset-md-3" id="registerForm" style="background-color: white">
				<form action="/register" method="post">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
							<p>{{ message }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<input name="email" type="email" placeholder="Email">
					<br>
					<input name="password" type="password" placeholder="Password">
					<br>
					<input name="password_confirm" type="password" placeholder="Confirm Password">
					<br>
					<input type="submit" value="Register" style="width:100px;">
				</form>
				<a href="/login">Already a user? login here!</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}