
/* General */
body {
	background-color: #bababa;
}
.main{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Nav bar */
.nav-link {
	margin-right: 5px;
}


/* Footer */


/* Masonry layout */
#bigPic, #mediumPic, #smallPic {
	border: 5px;
}

#bigPic {
	background-color: red;
}
#mediumPic {
	background-color: blue;
}
#smallPic {
	background-color: Green;
}

/* Login page */
#loginForm{
	margin: auto;
	text-align: center;
}
#loginForm label{
	padding-right: 2rem;
}

/* Home */
#HomeSection {
	
}

/* Error page */
#error404{
	background: url(../img/error404.jpg) no-repeat right center;
	height: calc(100vh - 56px);
	display: block;
	position: relative;
	background-size: 600px 600px;
}
#error404 h1{
	font-size: 8rem;
	margin-top: 2rem;
}