
/* General */
body {
	background-color: #bababa;
}
.main{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Nav bar */
.nav-link {
	margin-right: 5px;
}


/* Footer */


/* Masonry layout */
#bigPic, #mediumPic, #smallPic {
	border: 5px;
}
#masonryLayout {
	padding: 0rem 2rem 1rem 2rem;
}
#bigPic {
	background-color: red;
}
#mediumPic {
	background-color: blue;
}
#smallPic {
	background-color: Green;
}

/* Acount options */
#accountControls {
	background-color: gray;
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 2rem;
}
#accountControls button{
	padding: 16px 30px;
	font-size: 16px;
	display: block;
	margin: auto;
}
#accountControls .row {
}

/* Login page */
#loginForm, #registerForm{
	margin: auto;
	text-align: center;
}
#loginForm input, #registerForm input{
	width: 80%;
	margin-top: 10px;
}

/* Home */
#HomeSection {
	background-color: gray;
}

/* Error page */
#error404{
	background: url(../img/error404.jpg) no-repeat right center;
	height: calc(100vh - 56px);
	display: block;
	position: relative;
	background-size: 600px 600px;
}
#error404 h1{
	font-size: 8rem;
	margin-top: 2rem;
}