{% extends "base.html" %}
{% block main %}
<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-8 offset-md-2" id="images">
				<div id="images" class="container-fluid">
					<div class="row">
						<div class="col">
							<h2>{{ title }}</h2>
							{% with messages = get_flashed_messages() %}
								{% if messages %}
									{% for message in messages %}
									<p>{{ message }}</p>
									{% endfor %}
								{% endif %}
							{% endwith %}
							
							{% if images %}
								<div class="grid">
								{% for image_object in images.each() %}
									{% with image = image_object.val() %}
									<div class='grid-item'>
										<img data-image='{{ image|tojson }}' src='{{ image.upload_location }}' alt='{{ image.description }}'>
									<h3>{{ image.name }}</h3>
									<p>{{ image.description }}</p>
									<a href="/images/edit/{{ image.id }}"><i class="fas fa-edit"></i></a>
									<a href="/images/delete/{{ image.id }}"><i class="fas fa-trash-alt"></i></a>
									</div>
									{% endwith %}
								{% endfor %}
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}